.desc{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.desc h1{
  margin: 0;
  font-family: 'Bebas Neue';
  font-weight: normal;
  font-size: 72px;
  color: #CDC500;
}

.desc p{
  margin: 0 0 40px 0;
  font-family: 'Abel';
  font-weight: normal;
  font-size: 36px;
  color: #FFFFFF;
}

.content h1{
  margin: 47px 0 0 0;
  font-family: 'Bebas Neue';
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  color: #222222;
}

.content p {
  margin: 0 0 47px 0;
  font-family: 'Abel';
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #222222;
}

.user-container{
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: row;
}

.user-img{
  width: 107px;
  height: 107px;
  margin: 0;
  padding: 0;
}

.user-img .user{
  position: absolute;
  z-index: -1;
}

.user-data{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-data h1{
  margin: 0;
  font-family: 'Bebas Neue';
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #222222;
}

.user-data p{
  margin: 4px 0 13px 0;
  font-family: 'Abel';
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #222222;
}

.user-data .user-social{
  display: flex;
  flex-direction: row;
  width: 90px;
  justify-content: space-between;
}

.user-data .user-social a{
  text-decoration: none;
}